# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# ==============================
# Django
# ==============================
db.sqlite3
*.sqlite3
/media/
/staticfiles/

# Django migrations cache
*.log

# ==============================
# Environment Variables
# ==============================
.env
.env.*

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# PyCharm
# ==============================
.idea/

# ==============================
# Coverage / Testing
# ==============================
.coverage
htmlcov/
.pytest_cache/

# ==============================
# Node (if added later)
# ==============================
node_modules/